################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gBlaz/.vs/gBlaz/v15/Server/sqlite3
/gBlaz/.vs/config
